<p id="notice"><%= notice %></p>

<h1>Menu Lists</h1>

<table id="menulist">
  <thead>
    <tr>
      <th>Menu Item</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @menu_list.each do |menu_list| %>
      <tr>
        <td><%= menu_list.menu_item %></td>
        <td><%= menu_list.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

