<p id="notice"><%= notice %></p>

<h1>Bearcat Food Search</h1>

<table>
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign Up', new_user_path %>
<%= link_to 'Login', login_path %>
<%= link_to 'Food Court Listing', food_courts_path %>